<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
    <!--是否让苹果系统启动桌面快捷方法-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--ios顶部通知栏颜色-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--遇到数字不让他装成电话号码的格式-->
    <meta content="email=no" name="format-detection">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.css">
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/less" href="less/main.less">
    <script src="assets/less/less.min.js"></script>
    <title>搜索中心</title>
</head>
<body>
<!--首页-->
<div class="letao-container">
    <header class="letao-topBar">
        <a class="btn_left" href="javascript:history.back();"><span class="mui-icon mui-icon-arrowleft"></span></a>
        <h3>搜索中心</h3>
    </header>
    <div class="letao-content">
        <div class="letao-wrapper">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="letao-search">
                        <form action="javascript:;">
                            <input class="search-input" type="search" placeholder="请输入搜索关键字">
                            <a class="search-btn" href="javascript:;">搜索</a>
                        </form>
                    </div>
                    <div class="letao-history">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="letao-tabs">
        <ul>
            <li>
                <a href="index.html">
                    <span class="fa fa-home"></span>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a href="category.html">
                    <span class="fa fa-bars"></span>
                    <p>分类</p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <span class="fa fa-shopping-cart"></span>
                    <p>购物车</p>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <span class="fa fa-user"></span>
                    <p>会员中心</p>
                </a>
            </li>
        </ul>
    </footer>
</div>
<script type="text/template" id="historyTpl">
    <div class="mui-clearfix">
        <% if(list.length == 0) {%>
        <span class="mui-pull-left">没有搜索历史记录</span>
        <% } else { %>
        <span class="mui-pull-left">搜索历史</span>
        <span class="mui-pull-right fa fa-trash">清空记录</span>
        <% } %>
    </div>
    <% if(list.length > 0){ %>
    <ul>
        <% for(var i = list.length-1; i>=0; i--) { %>
                <li><a href="searchList.html?key=<%=list[i]%>"><%=list[i]%></a><span data-index="<%=i%>" class="mui-icon mui-icon-closeempty"></span></li>

        <% } %>
    </ul>
    <% } %>


</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="js/search.js"></script>
</body>
</html>